doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title Whats up 2night
    body
        .header
            h1.page-title Whats up 2night

        ul.nav
            li: a(href='/') Home
            li: a(href='/clubs') Clubs
            li: a(href='#about') About
            li: a(href='#contact') Contact

        .main-content
            block content

        .footer
